---
layout: page
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}

    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="post-meta">{{ post.date | date: '%d.%m.%Y' }}</p>
    {{ post.excerpt }}
    <p>Categories:
      {% for category in post.categories %}
        <a href="/blog/category/{{ category }}">{{ category }}</a> {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </p>
    <p>Tags:
      {% for tag in post.tags %}
        <a href="/blog/tag/{{ tag }}">{{ tag }}</a> {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </p>
    <a href="{{ post.url }}">Read more...</a>

    {% unless forloop.last %}
    <hr>
    {% endunless %}

{% endfor %}

<br><br>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav>
    <ul class="pagination">
        {% if paginator.previous_page %}
            <li class="arrow"><a href="{{ paginator.previous_page_path | replace: '/index.html', '' }}">&laquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a>&laquo;</a></li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <li class="current"><a>{{ page }}</a></li>
            {% elsif page == 1 %}
                <li><a href="{{ site.paginate_path | replace: '/page-:num', ' ' }}">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <li class="arrow"><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
        {% else %}
            <li class="arrow unavailable"><a>&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
