---
layout: default
---

<main>
  <small><i>main</i></small>
  <h1>{{ page.title }}</h1>
  <div class="welcome">
    <h2>{{ site.data.index-content.welcome-title}}</h2>
    <p>{{ site.data.index-content.welcome-body | markdownify}}</p>
  </div>
  <h2>Szolgáltatásaink ({{site.data.index-content.service-blocks | size}} db)</h2>
  {% for item in site.data.index-content.service-blocks %}
    <div class="service">
      <h3>{{ item.title }}</h3>
      <p>{{ item.description | markdownify}}</p>
    </div>
  {% endfor %}
  <hr>
  {{ content }}
</main>
