---
layout: default
---

<main>
<small><i>main</i></small>
<article>
  <h1>{{ page.title }}</h1>
  <p class="meta">{{ page.date | date_to_string }}</p>
  <p class="post-content">
  {{ content }}
  </p>
  <p>Categories:
    {% for category in page.categories %}
      <a href="/blog/category/{{ category }}">{{ category }}</a> {% unless forloop.last %},{% endunless %}
    {% endfor %}
  </p>
  <p>Tags:
    {% for tag in page.tags %}
      <a href="/blog/tag/{{ tag }}">{{ tag }}</a> {% unless forloop.last %},{% endunless %}
    {% endfor %}
  </p>
</article>
</main>
