---
layout: default
---

<main>
<small><i>year-archive</i></small>
<h1>Archive of posts from {{ page.date | date: "%Y" }}</h1>
<ul class="posts">
  {% for post in page.posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
</main>
